<div *ngIf="!adminExists" id="addUser">
    <form  
          (ngSubmit)="addUser()">
      <div>
        <label>User:</label>
        <input
            type="text"
            name="username"
            [(ngModel)]="username"
            disabled
        />
      </div>
      <div>
        <label>Pass:</label>
        <input
            type="password"
            name="password"
            [(ngModel)]="password"
        />
      </div>
      <div>
        <input
            id="submit"
            type="submit"
            value="add admin user"
        />
      </div>
    </form>
</div>
<div *ngIf="adminExists" id="login">
    <form  
          (ngSubmit)="logIn()">
      <div>
        <label>User:</label>
        <input #userInput
            type="text"
            name="username"
            [(ngModel)]="username"
        />
      </div>
      <div>
        <label>Pass:</label>
        <input
            type="password"
            name="password"
            [(ngModel)]="password"
        />
      </div>
      <div>
        <input
            id="submit"
            type="submit"
            value="Login"
        />
      </div>
    </form>
</div>
<!-- <pre>{{username}}</pre>
<pre>{{password}}</pre> -->
<pre>{{loginError}}</pre>

