<h2>{{title}}</h2>
<h5>{{ todayDate | date: 'EEEE MMMM d y hh:mm:ss a' }}</h5>
<button
  class="btn btn-info"
  (click)="refresh()"
>refresh</button>
<ng-container *ngIf="jsonLoaded | async">

  <h3>TCP</h3>
  <table class="mt-2 table table-bordered table-hover">
    <thead class="thead-light">
      <th *ngFor="let cell of data.tcp[0] | keyvalue : orderOriginal">{{cell.key}}</th>

      <!-- Example: loop using Object.keys() -->
      <!-- <th *ngFor="let key of Object.keys(data.tcp[0])">{{key}}</th> -->

      <!-- Example: manual add values -->
      <!-- <th>service</th>
      <th>user</th>
      <th>ipv</th>
      <th>proto</th>
      <th>port</th> -->
    </thead>
    <tbody>
        <tr *ngFor="let row of data.tcp">
          <td *ngFor="let cell of row | keyvalue : orderOriginal">{{cell.value}}</td>

          <!-- Example: loop using Object.keys() -->
          <!-- <td *ngFor="let cell of Object.keys(row)">{{row[cell]}}</td> -->

          <!-- Example: manual add values -->
          <!-- <td>{{row.service}}</td>
          <td>{{row.user}}</td>
          <td>{{row.ipv}}</td>
          <td>{{row.proto}}</td>
          <td>{{row.port}}</td> -->
        </tr>
    </tbody>
  </table>

  <h3>UDP</h3>
  <table class="mt-2 table table-bordered table-hover">
    <thead class="thead-light">
      <th *ngFor="let cell of data.udp[0]|keyvalue:orderOriginal">{{cell.key}}</th>
    </thead>
    <tbody>
      <tr *ngFor="let row of data.udp">
        <td *ngFor="let cell of row|keyvalue:orderOriginal">{{cell.value}}</td>
      </tr>
    </tbody>
  </table>
</ng-container>