
  <header #packetsHeader id="packetsHeader">
    <h2>{{title}}</h2>
    <h5>{{ todayDate | date: 'EEEE MMMM d y hh:mm:ss a' }}</h5>
    <div id="dumpTypeButtons" class="d-flex" style="gap:2px">
      <button id="incomingBtn"
        class="btn btn-secondary"
        [class.active]="incomingSectionTrue"
        [attr.disabled]="dumpTrue ? 'disabled' : null"
        (click)="selectSection($event)">incoming</button>
      <button id="unfilteredBtn"
        class="btn btn-secondary"
        [class.active]="unfilteredSectionTrue"
        [attr.disabled]="dumpTrue ? 'disabled' : null"
        (click)="selectSection($event)">unfiltered</button>
    </div>
  </header>

  <!--INCOMING IPV4 SECTION-->
  <section id="incomingSection" [hidden]="!incomingSectionTrue">
    <header #incomingHeader id="incomingHeader">
      <h3>Incoming ipv4 Packets</h3>
      <div id="functionButtons" style="display:flex;gap:2px;">
        <button
          id="incomingStartBtn"
          class="btn"
          [ngClass]="dumpTrue ? 'btn-danger' : 'btn-success'"
          (click)="getTcpdump()">{{dumpTrue ? "stop" : "start"}}</button>
        <button
          id="incomingClearBtn"
          class="btn btn-warning"
          (click)="clearData($event)">clear</button>
        <button
          id="incomingScrollBtn"
          class="btn btn-light"
          [class.active]="scrollToBottomTrue"
          (click)="toggleScrollToBottom($event)">{{scrollToBottomTrue ? '&darr;' : '&mdash;' }}</button>
      </div>
    
      <!-- TAB BUTTONS -->
      <div id="tabButtons" class="mt-1"style="display:flex;">
        <button id="mainBtn"
          class="btn btn-secondary"
          [class.active]="mainTrue"
          (click)="selectTableTab($event)">main</button>
        <button  id="sessionBtn"
          class="btn btn-secondary"
          [class.active]="sessionTrue"
          (click)="selectTableTab($event)"> session-log</button>
        <button id="masterBtn"
          class="btn btn-secondary"
          [class.active]="masterTrue"
          (click)="selectTableTab($event)">master-log</button>
      </div>
    </header>
    <!-- MAIN TAB -->
    <section id="mainTab" class="packetsTab mb-2" [hidden]="!mainTrue">
        <header #mainTabHeader id="mainTabHeader">
          <h3 class="ml-2">main</h3>
        </header>
        <div #targetIncoming id="incomingMainOutput" class="" style="overflow:scroll;">
          <table
            #mainTable
            id="mainTable"
            class=" table table-bordered table-hover"
            >
            <thead class="thead-light">
              <th>remoteIp</th>
              <th>remotePort</th>
              <th>localIp</th>
              <th>localPort</th>
            </thead>
            <tbody >
              <tr *ngFor="let row of incomingData">
                <td *ngFor="let cell of row | keyvalue : orderOriginal">{{cell.value}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </section>
    <!-- SESSION TAB -->
    <section id="sessionTab" class="packetsTab" [hidden]="!sessionTrue">
        <h3>session</h3>
        <div style="overflow:scroll;">
          <table class="mt-2 table table-bordered table-hover">
            <thead class="thead-light">
              <th>remoteIp</th>
              <th>rPort</th>
              <th>localIp</th>
              <th>lPort</th>
            </thead>
            <tbody>
              <tr *ngFor="let row of sessionData">
                <td *ngFor="let cell of row | keyvalue : orderOriginal">{{cell.value}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </section>
    <!-- MASTER TAB -->
    <section id="masterTab" class="packetsTab" [hidden]="!masterTrue">
        <h3>master</h3>
        <div style="overflow:scroll;">
          <table class="packetsTable mt-2 table table-bordered table-hover">
            <thead class="thead-light">
              <th>remoteIp</th>
              <th>rPort</th>
              <th>localIp</th>
              <th>lPort</th>
            </thead>
            <tbody>
              <tr *ngFor="let row of masterData">
                <td *ngFor="let cell of row | keyvalue : orderOriginal">{{cell.value}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </section>
  </section>

  <!--UNFILTERED SECTION-->
  <section id="unfilteredSection"
    [hidden]="!unfilteredSectionTrue">
    <header #unfilterHeader id="unfilteredHeader">
      <h3>Unfiltered Packets</h3>
      <div id="functionButtons" style="display:flex;gap:2px;">
        <button
          id="incomingStartBtn"
          class="btn"
          [ngClass]="dumpTrue ? 'btn-danger' : 'btn-success'"
          (click)="getTcpdump()">{{dumpTrue ? "stop" : "start"}}</button>
        <button
          id="unfilteredClearBtn"
          class="btn btn-warning"
          (click)="clearData($event)">clear</button>
          <button
          id="unfilteredScrollBtn"
          class="btn btn-light"
          [class.active]="scrollToBottomTrue"
          (click)="toggleScrollToBottom($event)">{{scrollToBottomTrue ? '&darr;' : '&mdash;' }}</button>
      </div>
    </header>
    <pre #targetUnfiltered  id="unfilteredOutput"
     class="mt-2 mb-2"
     style="overflow:scroll;white-space:nowrap;">
      <span class="d-block" *ngFor="let data of unfilteredData">{{data}}</span>
    </pre>
  </section>

