
  <h2>{{title}}</h2>
  <h5>{{ todayDate | date: 'EEEE MMMM d y hh:mm:ss a' }}</h5>
  <div id="functionButtons" class="d-flex" style="gap:2px;overflow:hidden">
    <button
      class="btn"
      [ngClass]="listenTrue ? 'btn-danger' : 'btn-success'"
      (click)="listen()">listen</button>
    <button
      class="btn btn-warning"
      (click)="update()">refresh</button>
    <button
      class="btn btn-warning"
      [hidden]="!sessionTrue"
      (click)="clearSessionData()">clear</button>
    <div id="loopIntervalwrap" class="d-inline-flex" style="gap:2px;">
        <label for="loopInterval" class="align-content-vh mb-0" >interval</label>
        <select name="loopInterval" [(ngModel)]="loopInterval">
            <option *ngFor="let num of [0,1,2,3,4,5]" [ngValue]=num>{{num}}</option>
        </select>
    </div>
    
    <div id="searchFilter" class="d-inline-flex" style="gap:2px;">
      <label for="search">search</label>
      <input [(ngModel)]="searchText" type="text" name="search" id="search" size="auto" style="overflow:hidden;">
    </div>
  </div>
  <div class="d-flex">
    <div id="tabButtons" class="mt-1"style="display:flex;gap:2px;">
      <button id="mainBtn"
        class="btn btn-secondary"
        [class.active]="mainTrue"
        (click)="selectTableTab($event)">main</button>
      <button  id="sessionBtn"
        class="btn btn-secondary"
        [class.active]="sessionTrue"
        (click)="selectTableTab($event)"> session-log</button>
      <button id="masterBtn"
        class="btn btn-secondary"
        [class.active]="masterTrue"
        (click)="selectTableTab($event)">master-log</button>
    </div>
    <div id="filterButtons" class="d-inline-flex">
      <button id="ipv4Btn"
        class="btn btn-light"
        [class.active]="ipv4True"
        (click)="toggleFilter($event)">ipv4</button>
      <button id="ipv6Btn"
        class="btn btn-light"
        [class.active]="ipv6True"
        (click)="toggleFilter($event)">ipv6</button>
    </div>
  </div>
  <section [hidden]="!mainTrue">
    <ng-container *ngIf="jsonLoaded"> <!--fix scolling issue <ng-container *ngIf="jsonLoaded | async">-->
      <h3>main</h3>
      <div style="overflow:scroll;">
        <table class="mt-2 table table-bordered table-hover">
          <thead class="thead-light">
            <th *ngFor="let cell of mainData[0] | keyvalue : orderOriginal">{{cell.key}}</th>
          </thead>
          <tbody>
              <tr *ngFor="let row of mainData | searchFilter : filterText  | searchFilter : searchText">
                <td *ngFor="let cell of row | keyvalue : orderOriginal">{{cell.value}}</td>
              </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </section>
  <section [hidden]="!sessionTrue">
    <ng-container *ngIf="jsonLoaded">
      <h3>session</h3>
      <div style="overflow:scroll;">
        <table class="mt-2 table table-bordered table-hover">
          <thead class="thead-light">
            <th *ngFor="let cell of sessionData[0] | keyvalue : orderOriginal">{{cell.key}}</th>
          </thead>
          <tbody>
              <tr *ngFor="let row of sessionData | searchFilter : filterText  | searchFilter : searchText">
                <td *ngFor="let cell of row | keyvalue : orderOriginal">{{cell.value}}</td>
              </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </section>
  <section [hidden]="!masterTrue">
    <ng-container *ngIf="jsonLoaded">
      <h3>master</h3>
      <div style="overflow:scroll;">
        <table class="mt-2 table table-bordered table-hover">
          <thead class="thead-light">
            <th *ngFor="let cell of masterData[0] | keyvalue : orderOriginal">{{cell.key}}</th>
          </thead>
          <tbody>
              <tr *ngFor="let row of masterData | searchFilter : filterText | searchFilter : searchText">
                <td *ngFor="let cell of row | keyvalue : orderOriginal">{{cell.value}}</td>
              </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </section>
