
  <h2>{{title}}</h2>
  <h5>{{ todayDate | date: 'EEEE MMMM d y hh:mm:ss a' }}</h5>
  <div id="functionButtons" style="display:flex;gap:2px;">
    <button
      class="btn"
      [ngClass]="listenTrue ? 'btn-danger' : 'btn-info'"
      (click)="listen()"
    >listen</button>
    <button
      class="btn btn-info"
      (click)="update()"
    >refresh</button>
    <div id="searchFilter" class="d-inline-flex" style="gap:2px;">
      <label for="search">search</label>
      <input type="text" name="search" id="search">
    </div>
  </div>
  <div id="tabButtons" class="mt-1"style="display:flex;gap:2px;">
    <button id="mainBtn"
      class="btn btn-secondary"
      [class.active]="mainTrue"
      (click)="selectTableTab($event)">main</button>
    <button  id="sessionBtn"
      class="btn btn-secondary"
      [class.active]="sessionTrue"
      (click)="selectTableTab($event)"> session-log</button>
    <button id="masterBtn"
      class="btn btn-secondary"
      [class.active]="masterTrue"
      (click)="selectTableTab($event)">master-log</button>
  </div>
  <section [hidden]="!mainTrue">
    <ng-container *ngIf="jsonLoaded | async">
      <h3>main</h3>
      <div style="overflow:scroll;">
        <table class="mt-2 table table-bordered table-hover">
          <thead class="thead-light">
            <th *ngFor="let cell of mainData[0] | keyvalue : orderOriginal">{{cell.key}}</th>
          </thead>
          <tbody>
              <tr *ngFor="let row of mainData">
                <td *ngFor="let cell of row | keyvalue : orderOriginal">{{cell.value}}</td>
              </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </section>
  <section [hidden]="!sessionTrue">
    <ng-container *ngIf="jsonLoaded | async">
      <h3>session</h3>
      <div style="overflow:scroll;">
        <table class="mt-2 table table-bordered table-hover">
          <thead class="thead-light">
            <th *ngFor="let cell of sessionData[0] | keyvalue : orderOriginal">{{cell.key}}</th>
          </thead>
          <tbody>
              <tr *ngFor="let row of sessionData">
                <td *ngFor="let cell of row | keyvalue : orderOriginal">{{cell.value}}</td>
              </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </section>
  <section [hidden]="!masterTrue">
    <ng-container *ngIf="masterLoaded | async">
      <h3>master</h3>
      <div style="overflow:scroll;">
        <table class="mt-2 table table-bordered table-hover">
          <thead class="thead-light">
            <th *ngFor="let cell of masterData[0] | keyvalue : orderOriginal">{{cell.key}}</th>
          </thead>
          <tbody>
              <tr *ngFor="let row of masterData">
                <td *ngFor="let cell of row | keyvalue : orderOriginal">{{cell.value}}</td>
              </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </section>
