/* You can add global styles to this file, and also import other style files */
button,a.btn{
  border-left: 1px solid #00000080!important;
  border-bottom: 1px solid #00000080!important;
  border-right: 1px solid #00000080!important;
  border-top: 1px solid #00000080!important;
  box-shadow: 1px -1px 5px #00000040 inset;
}

body>.container{
  height:100vh;
}
app-root{
  display: flex;
  flex-flow: column;
  height: 100%;
}

app-packets {
  display:flex;
  flex-flow:column;
  flex-grow:1;
  height:0;
}

.align-content-vh{
    display: flex;
    align-items: center;
    justify-content: center;
}