<h2>NetInfo</h2>
<h5>{{ todayDate | date: 'EEEE MMMM d y hh:mm:ss a' }}</h5>
<button
  class="btn btn-info"
  (click)="refresh()"
>refresh</button>
<table class="mt-2 table table-bordered table-hover">
  <thead class="thead-light">
    <th>key</th>
    <th>value</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of data ; index as i; first as isFirst">
      <ng-container *ngFor="let obj of item | keyvalue;">
        <td>{{obj.key}}</td>
        <td>{{obj.value}}</td>
      </ng-container> 
    </tr>
  </tbody>
</table>